<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-list>
  <ion-item *ngFor="let lesson of assimilFrench; let i = index" (click)="reviewLesson(lesson, i)">
    <p>{{i+1}}. {{lesson.sentences[0].title}} - {{lesson.sentences[1].title}}</p>
    
    <!-- <ion-item *ngFor="let sentence of lesson.sentences">
      <p>{{sentence.title}}</p>
     
<audio src={{sentence.path}} controls>

</audio>
    </ion-item> -->
  


  </ion-item>

 </ion-list>
</ion-content>
