page-review-a-lesson {

ion-content {
    font-family:  monospace;
    
}
//this keeps the grey boxes from touching
.line {
    line-height: 30px;
}


.red {
    color: red;
}

.normal {
    margin-right: 5px;
    
}

.fade {
    opacity: 0.3;
    margin-right: 5px;
    margin-top: 30px;
}


.blank {
    color: grey;
    background-color: grey;
    margin-right: 5px;
    margin-top: 30px;
}

}
