
<ion-header>

  <ion-navbar>
    <ion-title>Practice this Lesson</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>


    <!-- <ion-item *ngFor="let lesson of assimilFrench" (click)=reviewLesson(lesson)>
          <p>{{lesson.album}}</p> -->

    <div *ngFor="let sentence of lessonSentences; let i = index;" id={{i}}>

      <ion-item>
        <ion-row>
          <ion-col>
              <ion-icon class="radioButton line" *ngIf="!sentence.practised" name="radio-button-off" [ngClass]=sentence.marked></ion-icon> 
              <ion-icon class="radioButton line" *ngIf="sentence.practised" name="radio-button-on" [ngClass]=sentence.marked></ion-icon>      
          
              <span class='line' *ngIf="(i > 1)">{{i-1}}.</span> <span text-wrap class='normal' *ngFor="let item of sentence.sentenceArray"
              (click)="wordSelected(i, item)" [ngClass]=item.class>{{item.text + " "}}</span>
            
          </ion-col>
          <ion-col col-4>
            <ion-buttons end>
              <button ion-button small outline (click)=play(sentence.id)>
                <ion-icon name="musical-note"></ion-icon>
              </button>
              <!-- <button round ion-button small color="fade" (click)="reviewSingle(sentence, 'fade')">
                <ion-icon name="repeat"></ion-icon>
              </button> -->
              <button round ion-button small color="blank" (click)="reviewSingle(sentence, 'blank')">
                <ion-icon name="repeat"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
          <audio id={{sentence.id}} src={{sentence.path}}></audio>
        </ion-row>
        <!-- WARNING !!!!! temporarily removed - put back to check the text algorithm WARNING !!!!!  -->
        <!-- <ion-row>
          <ion-col>
            <p>{{sentence.title}}</p>
            <audio id={{sentence.id}} src={{sentence.path}}></audio>
          </ion-col>

        </ion-row> -->
      </ion-item>
    </div>


  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
 
  <!-- <ion-col>
    <button class="footer-button" round ion-button block color="fade" (click)="reviewAll('fade')">
        <ion-icon name="repeat"></ion-icon>
      </button>
    </ion-col> -->
    <ion-col>
        
    <button class="footer-button" round ion-button block color="blank" (click)="reviewAll('blank')">
        <ion-icon name="repeat"></ion-icon>
      </button>
    </ion-col>
   
  </ion-row>
</ion-footer>